.buildControls {
  display: flex;
  flex-direction: column;
  margin: 0 8px;
}

.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-width: fit-content;
  padding: 10px 0;
  max-height: 400px;
  overflow: auto;
}

@media (max-width: 480px) {
  .ingredients {
    grid-template-columns: 1fr 1fr;
  }
}