.button {
  display: flex;
  align-items: center;
  border-radius: 15px;
  font-size: 16px;
  padding: 4px;
  margin: 0 2px;
  border: none;
  outline: none;
  background-color: #fff0e6;
  color: #d15700;
  cursor: pointer;
  transition: .12s ease-in-out;
}

.button:hover {
  background-color: #ffd2b3;
}