.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90px;
}

.header img {
  height: 70px;
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
  font-style: oblique;
}

.block {
  padding-left: 70px;
}

.block small {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: gray;
}

.headerCompact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 80;
  background-color: white;
  box-shadow: 4px 18px 15px -15px rgba(34, 60, 80, 0.16);
}

.headerCompact img {
  width: 48px;
  object-fit: contain;
}

.mainCompact {
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: 0 0 0 -68px;
  transition: margin .5s;
}

.mainCompact.isLogoOpen {
  margin-left: 0;
}

.mainCompact img {
  opacity: 0;
  transition: all .5s;
}

.mainCompact.isLogoOpen img{
  opacity: 1;
  padding-right: 16px;
}

.options {
  display: flex;
}
