.slider {
  max-width: 98%;
  margin: 18px auto;
}

.slide {
  transform: scale(0.7);
  opacity: 0.5;
  transition: transform .3s;
}

.slide img {
  max-width: 100%;
  margin: 0 auto;
}

.activeSlide {
  transform: scale(1.2);
  opacity: 1;
}

.arrow {
  display: flex;
  align-items: center;
  background-color: #f3f3f3;
  position: absolute;
  cursor: pointer;
  border-radius: 20px;
  padding: 4px;
  z-index: 10;
}

.arrow svg {
  transition: .2s;
}

.arrow svg:hover {
  color: #d3d3d3;
}

.next {
  right: 0%;
  top: 40%;
}

.prev {
  left: 0%;
  top: 40%;
}

@media (max-width: 1500px) {
  .activeSlide {
    transform: scale(1);
  }
  .activeSlide img {
    max-width: 1000px;
  }
  .slider {
    max-width: 95%;
  }
}

@media (max-width: 1300px) {
  .slider {
    width: 767px;
    margin: 0 auto;
  }
  .activeSlide img {
    max-width: 800px;
  }
}

@media (max-width: 767px) {
  .slider {
    display: none;
  }
}