.menu {
  width: 100%;
}

.menu h2 {
  margin-bottom: 16px;
}

.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-width: fit-content;
  padding: 10px 0;
  grid-column-gap: 42px;
  grid-row-gap: 18px;
  width: 100%;
  justify-items: center;
  margin-bottom: 48px;
}

@media (max-width: 1300px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 678px) {
  .productList {
    grid-template-columns: 1fr;
  }
}